<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/planets"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ planet?.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="planet">
    <ion-card *ngIf="planet?.name" class="card ion-margin">
        <ion-card-header>
            <ion-card-title>{{ planet?.name }}</ion-card-title>
        </ion-card-header>

        <ion-item lines="none" class="card__info" *ngIf="planet?.rotation_period">
            <ion-icon name="refresh-outline" slot="start"></ion-icon>
            Rotation Period: {{ planet?.rotation_period }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.orbital_period">
            <ion-icon name="planet-outline" slot="start"></ion-icon>
            Orbital Period: {{ planet?.orbital_period }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.diameter">
            <ion-icon name="resize-outline" slot="start"></ion-icon>
            Diameter: {{ planet?.diameter }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.climate">
            <ion-icon name="thunderstorm-outline" slot="start"></ion-icon>
            Climate: {{ planet?.climate }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.gravity">
            <ion-icon name="download-outline" slot="start"></ion-icon>
            Gravity: {{ planet?.gravity }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.terrain">
            <ion-icon name="golf-outline" slot="start"></ion-icon>
            Terrain: {{ planet?.terrain }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.surface_water">
            <ion-icon name="water-outline" slot="start"></ion-icon>
            Surface Water: {{ planet?.surface_water }}
        </ion-item>
        <ion-item lines="none" class="card__info" *ngIf="planet?.population">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Population: {{ planet?.population }}
        </ion-item>
    </ion-card>
</ion-content>
